@media screen and (max-width: 640px) {
    .controls {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        width: 100%;
        background-color: var(--color-grey-5);
    }

    .controls .control {
        margin: 1rem .3rem;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .header-content .right-header {
        padding: 2rem;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }

    .header-content .right-header .name {
        font-size: 2.5rem;
        text-align: center;
    }

    .header-content .right-header p {
        text-align: center;
    }

    .header-content .left-header .header-shape {
        display: none;
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 70%;
    } 

    header {
        min-height: 115vh;
    }

    section {
        padding: 3rem 5rem 6rem;
    }

    .btn-con {
        margin: 0 auto;
      }  
      
      .main-title h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      
      .main-title h2 span {
        letter-spacing: 2px;
      }
      
      .main-title h2 span.bg-text {
        display: none
        ;
      }

      .about-container {
        grid-template-columns: 1fr;
        padding-top: 1rem;
        /* padding-bottom: 5rem; */
      }

      .about-container .right-about {
        grid-template-columns: 1fr;
      }

      .about-container .right-about .about-item {
        border: 1px solid var(--color-secondary);}

      .about-container .left-about {
        padding-right: 0rem;
        margin-bottom: 2rem;
      }

      .about-container .left-about h4 {
          text-align: center        ;
      }

      .about-container .left-about p {
        line-height: 2rem;
        padding: 1rem 0;
        text-align: center;
      }

      .about-container .left-about .btn-con{
          justify-content: center;
      }

      .progress-bars {
          grid-template-columns: 1fr;
      }

      .timeline {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding-bottom: 3rem;
      }

      .portfolios {
          grid-template-columns: 1fr;
      }

      .blogs {
        display: grid;
        grid-template-columns: 1fr;
      }

      .contact-content-con {
          flex-direction: column;
          padding-top: 0;
      }

      .contact-icon {
          justify-content: center;
      }

      .right-contact {
          margin-left: 0;
      }

      .i-c-2 {
          flex-direction: column;
      }

      input+input {
        margin-left: 0rem;
        margin-top: 1.5rem;
      }
}